<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div class="section section-1">
    <div class="container">
      <div class="heading">
        <div class="description">Awake your spirit.</div>
        <div class="eye-catcher">run!</div>
      </div>
      <div class="image animated slideInRight">
        <img
          src="/assets/shoes-bg.svg"
          class="product-bg animated infinite"
          alt="abstract"
        />
        <img
          src="/assets/shoes.png"
          alt="b3"
          class="product animated infinite"
        />
      </div>
    </div>
  </div>
  <div class="section section-2">
    <div class="slide">
      <div class="container">
        <div class="heading">
          <div class="description">When you’re crazy for chicken.</div>
          <div class="eye-catcher">eat!</div>
        </div>
        <div class="image animated slideInRight">
          <img
            src="/assets/biriyani/cuttingBoard.png"
            class="product-bg animated infinite"
            alt="cuttingBoard"
          />
          <img
            src="/assets/biriyani/b2.png"
            alt="product"
            class="product animated infinite"
          />
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="container">
        <div class="heading">
          <div class="description">Stop staring & start feasting.</div>
          <div class="eye-catcher">eat!</div>
        </div>
        <div class="image animated slideInRight">
          <img
            src="/assets/biriyani/cuttingBoard.png"
            class="product-bg animated infinite"
            alt="cuttingBoard"
          />
          <img
            src="/assets/biriyani/b1.png"
            alt="b1"
            class="product animated infinite"
          />
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="container">
        <div class="heading">
          <div class="description">Still craving?</div>
          <div class="eye-catcher">eat!</div>
        </div>
        <div class="image animated slideInRight">
          <img
            src="/assets/biriyani/cuttingBoard.png"
            class="product-bg animated infinite"
            alt="cuttingBoard"
          />
          <img
            src="/assets/biriyani/b3.png"
            alt="b3"
            class="product animated infinite"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="section section-3">
    <div class="container">
      <div class="heading">
        <div class="description">You need a cold one.</div>
        <div class="eye-catcher">drink!</div>
      </div>
      <div class="image animated slideInRight">
        <img
          src="/assets/splash2.png"
          class="product-bg animated infinite"
          alt="waterSplash"
        />
        <img
          src="/assets/p3.png"
          alt="product"
          class="product animated infinite"
        />
      </div>
    </div>
  </div>
  <div class="section section-4">
    <img
      src="/assets/sleeping-dog.gif"
      alt="product"
      class="product animated infinite"
    />
  </div>
</div>
